<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-3">Time Capsule</h1>
    <p>Task timing and scheduling tool.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Stopwatch</h2>
          <p>Purposed for tracking tasks by type and day.</p>
          <a class="p-1 rounded" [routerLink]="['/task-stopwatch']">Time your tasks</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Scheduler</h2>
          <p>Designed to organize tasks for any particular day.</p>
          <a class="p-1 rounded" [routerLink]="['/task-scheduler']">Create a schedule</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <footer>
  </footer>
</div> <!-- /container -->
